@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'EB Garamond', serif;    
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --bg-color: #416e1c;
    --second-bg-color: #30b937;
    --text-color: #fff;
    --main-color: rgb(240, 240, 136);
}
/* html{
    font-size: 62.5%;
    overflow: hidden;
} */
.hi{
    width: 20%;
    margin-top: -27%;
    margin-left: -6%;
}
body{
    width: 100%;
   
}
.content{
    height: 100vh;
    background-color: rgb(221, 241, 179);
    background-size: 100%; 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-size: 2.4rem;
    color: rgb(213, 216, 66);
    font-weight: 800;
    cursor: default;
    
}
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9 2rem;
}
.log{
    width: 40%;
    margin-left: -40%;
}
.gro{
    margin-left: 65%;
    margin-top: -30%;
}
.home{
    display: flex;
    justify-content: center;
    color: rgb(226, 226, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.home-content h2{
    font-size: 59px;
    margin-left: -25%;
    margin-top: 10%;
    color: rgb(22, 48, 28);
    font-family: 'EB Garamond', serif; 
}
.home-content h4{
    font-size: 33px;
    margin-top: -53%;
    color: rgb(22, 48, 28);
}
span{
    color: rgb(117, 165, 29);
    font-size: 43px;
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #000;
    font-family: monospace;

}
.about-img img{
    width: 40vw;
    border-radius:15%;
    margin-left: 10%;
    border: 5px solid rgb(32, 58, 15);
    margin-top: -1%;

}
.heading{
    text-align: center;
    font-size: 2.5rem;
}
.content1{
    height: 100vh;
    background-color: rgb(238, 240, 233);
    
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    margin-left: 35%;
    margin-top: 10%;
}
.about-content p{
    font-size: 1.5rem;
    margin: 3rem 0 3rem;
    margin-left: 10%;
    color: black;
    font-family: 'EB Garamond', serif;  
    text-align: justify;


}

.contact h2{
    margin-bottom: 5rem ;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: rgb(26, 26, 15);
}
.contact-container .contact-box{
    flex: 1 1 30rem;
    background: rgb(168, 168, 80);
    padding: 3rem 2rem 4rem;
    border-radius: 50%;
    text-align: center;
    border: 2rem solid rgb(168, 168, 80);
    transition: 5s ease;
}
.contact-container .contact-box:hover{
    border-color: rgb(168, 168, 80);
    transform: scale(1.02);

}
.content2{
    background-color: rgb(221, 241, 179);
}
.social-media a{
 display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid rgb(148, 148, 41);
    border-radius: 50%;
    font-size: 2rem;
    color: olive;
    margin: 3rem 1.5rem;
    margin-top: 10%;
    box-shadow: 0 0 1rem rgb(20, 20, 12);
    margin-left: -1%;
}

.social-mdia a{
    display: inline-flex;
       justify-content: right;
       align-items: center;
       width: 4rem;
       height: 4rem;
       background: transparent;
       border: .2rem solid rgb(148, 148, 41);
       border-radius: 50%;
       font-size: 2.5rem;
       color: olive;
       display: block;
       margin: 5rem 7.5rem;
       margin-top: -10%;
       box-shadow: 0 0 1rem rgb(20, 20, 12);
       margin-left: -25%;
   }
.contact-details{
    margin-left: 65%;
    font-size: 21px;
    margin-top: -7%;

}
.contact h2{
    margin-bottom: 1rem;
}
.contact form{
    margin: 1 rem auto;
    text-align: center;
    max-width: 50rem;
    margin-bottom: 3rem;
    margin-top: -7%;
    margin-left: 2%;
}
.don{
    margin-left: 19%;
    font-size: 25px;
    font-style: italic;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    font-size: 1.1rem;
    padding: 1.0rem;
    background:rgb(165, 165, 18);
    border-radius: 3rem;
    margin: .2rem 0;
    color: black;
}
.contact form .input-box input{
    width: 45%;
}
.content4{
    height: 100vh;
    background-color: rgb(238, 240, 233);
   
}
.btn{
    background-color: #9bbd80;
    font-size: 20px;
    border: #70a148 solid;
}
.nata,.euni,.becky,.grace,.fai{
    border-radius: 50%;
    width: 19.8%;
    margin-top: 15%;
}
.tea{
    color: #457732;
    font-size: 50px;
    margin-top: -27.5%;
    margin-left: 40%;
}
.names{
    margin-top: 24%;
    font-size: 20px;
    gap: 38%;
    display: inline-flex;
    margin-left: 7%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #285e13;
    font-style: italic;
    font-weight: 600;
}
.tech{
    margin-left: 10%;
    font-size: 25px;
    margin-top: 6%;
}



